<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&family=Outfit:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <section class="agreement-container">
        <div style="display: flex; justify-content: flex-end; margin: 30px 0;">
            <img src="assets/florahomeslogo.png" alt="" style="height: 70px; width: 300px;"/>
          </div>
      <p>
        This Property Own-earner Agreement (“Agreement”), is entered into this
        day the ____ of _____________ 20__ BETWEEN
        (“_______________________________ of ________________________”)
        [Hereinafter referred to as the “Own-earner partner” or “OEpartner”] AND
        “FLORAHOMES GLOBAL CONSULT LIMITED, a private Limited Liability Company,
        incorporated and registered under the laws of Nigeria with registration
        number RC1536444 of Suit 6, Umudi Mall, Alatishe Bus-Stop, Ibeju-Lekki,
        Lagos State, Nigeria” [Hereinafter referred to as the “Company”]
        <span>WHERE AS;</span>
        <ol type="a">
            <li>The OEpartner had read, understood and agreed to all the terms of purchase as spelt
                out hereunder.</li>
                <li>The OEpartner has subsequently paid into the Company's account as follows;
                    <ol type="i">
                        <li>
                            Estate Name _________________________________
                        </li>
                        <li>
                            Unit goal ____________________________________
                        </li>
                        <li>
                            Duration goal ____________________________________
                        </li>
                        <li>
                            No. of initial units ____________________________________
                        </li>
                        <li>
                            Amount Paid ____________________________________
                        </li>
                        <li>
                            Date of payment ____________________________________
                        </li>
                        <li>
                            Periodic purchase interval ____________________________________
                        </li>
                        <li>
                            Number of unit per every subsequent purchase ____________________________________
                        </li>
                    </ol>
                </li>
        </ol>
      </p>

      <div>
        <h3>THE PARTIES HEREBY AGREE AS FOLLOWS:</h3>
        <ol>
            <li>The subject property is legally owned by the company.</li>
            <li>The company shall reserve in the name of the OEpartner a part of the said property
                commensurate to the amount paid by the OEpartner.</li>
            <li>The OEpartner agrees to meet up with the goal set as contained in "b" above.</li>
            <li>Property prices are subject to upward review at intervals due to value appreciation,
                the OEpartner hereby confirms awareness to this information, acquires as many
                units upon first purchase and agrees to acquire more units at their going rate.</li>
            <li>The company shall open two wallets in the name of the OEpartner; a Cash Wallet
                and a Property Wallet.</li>
            <li>The initial payment made and all other subsequent payments to be made by the
                OEpartner in order to acquire more units shall be credited into the OEpartner's
                property wallet.</li>
            <li>The cash wallet will have a zero opening balance and money can be added to it either
                by earning Referral-Reward or by depositing self cash into it.</li>
            <li>The OEpartner shall have full access to the cash wallet and will be able to either
                withdraw it for personal use or transfer it to the Property Wallet at will.</li>
            <li>The amount in the Property Wallet reflects the property stake of the OEpartner.</li>
            <li>The property wallet fund will be used to increase the OEpartner's property
                ownership stake, acquire new units, or develop his/her property (in case of land)...
                within the company's owned properties and can neither be withdrawn by the
                OEpartner nor used for any other purpose.</li>
            <li>Upon the execution of this agreement, the company shall add the OEpartner to an
                online platform where property value appreciation, tips, property investment
                education etc. will be updated</li>
            <li>The OEpartner shall enjoy a 10% discount within the duration of this partnership on
                all one-time-outright/first-payment-instalment purchases made on the company
                products: Estate Land & Building, Property Verification, Professional Advisory and
                Design Build & Manage Services.</li>
            <li>The OEpartner shall further enjoy a 10% commission on the
                one-time-outright/first-payment-instalment purchases made by all buyers referred
                by the OEpartner within the duration of this partnership.</li>
            <li>Each commission shall be split into 5 equal parts; 1/5 to be credited into the Cash
                Wallet and 4/5 to be credited into the Property Wallet.</li>
            <li>The Units' OWNERSHIP can only be transferred (sell, gift, collateral etc) after a
                minimum period of 24 month from the date of the execution of this agreement.</li>
            <li>The OEpartnership has an expiration period of 24 months effective from the date of
                the execution of this agreement, thereafter, the OEpartner will be required to renew
                the partnership by purchasing new own-earner units in addition to his/her existing
                ownership stake.</li>
            <li>If the OEpartner doesn’t wish to renew his/her OEpartnership after expiration,
                OEpartner remains the owner of his/her existing allotted units and is fully entitled
                to the property equivalent to the amount in his property wallet.</li>
            <li>Where the need may arise, the company shall correspond with the OEpartner
                through the contact details as provided in the Registration form.</li>
            <h3>EXIT STRATEGY</h3>
            <li>At any time when the OEpartner's property wallet reaches its set goal, the company
                shall issue an allocation letter and do physical allocation of the property to the
                OEpartner.</li>
            <li>Documentation fee shall be paid by the OEpartner to execute Survey document, Deed
                of Assignment and every other document required to take full possession and for
                ownership title perfection. This is optional if the OEpartner's interest is only in
                selling off his/her units.</li>
            <li>When the unit goal is met within the set duration, the OEpartner is at liberty to build
                (in case of land), make use of the property as wish or once it is 24 months from the
                day of the execution of this Agreement sell off his/her own units to anyone or can
                have the company sell it on his/her behalf.</li>
            <li> If the payment for the unit goal is not completed as at the set duration, the buyer
                shall only be able to sell his/her already purchased units after 24 months from the
                date of the execution of this Agreement. OEpartner shall however not be able to
                exercise other options as stated in Clause 21 above.</li>
            <h3>CONFIDENTIALITY</h3>
            <li>The content of this agreement is and shall remain strictly confidential between the
                parties to this agreement and neither of the parties shall disclose its contents by any
                means whatsoever and to anyone whosoever; except such disclosure shall have been
                with the prior notice and consent of the other party</li>
        </ol>
        <p>IN WITNESS WHEREOF the parties have executed this agreement in the manner hereunder
            the day and year first above written.</p>

        <h3>SIGNED</h3>
        <p>By the within named Own-Earner partner:</p>
        <p>_____________________________________________</p>
        <p>Signature and Date.</p>

        <h3>SIGNED</h3>
        <p>For the company:</p>
        <p>_____________________________________________</p>
        <p>DIRECTOR</p>
      </div>
    </section>
  </body>
</html>
